/* aspen style */

header {
	background: #304d44;
	color: #feefa8;
	/*text-shadow: black 2px 2px 2px;*/
	padding: 3px;
	/*border-top: 3px #594 solid;*/
	border-bottom: 2px #594 solid;
}

header a {
	color: #feefa8;
	text-decoration: none;
}

header a:hover {
	color: #fff0e0;
}

body {
	margin: 0px;
}

#result {
	margin: 10px 8px 10px 8px;
	height: 150px;
	/*width: 75%;*/
	overflow: auto;
	font-family: 'courier new';
	border: 1px solid black;
	/*display: none;*/
}

.stdout {
	color: black;
}

.stderr {
	color: red;
}

.message {
	color: gray;
}

.menubutton {
	display: inline;
	padding: 2px;
	margin: 1px;
}

#topmenu_l {
	float: left;
	text-align: left;
}

#topmenu_r {
	text-align: right;
}

.userinfo {
	display: inline;
}

.filelist {
	list-style-type: none;
}

#filemanager a {
	text-decoration: none;
}

a.dir {
	color: blue;
}

a.dir:hover {
	color: navy;
}

a.file {
	color: black;
}

a.file:hover {
	color: gray;
}
