/* aspen style */

body {
	/*background-color: black;*/
}

.stdout {
	color: green;
}

.stderr {
	color: red;
}

.message {
	color: gray;
}

#loginform {
	-moz-border-radius: 6px;
	background: #eef2f7;
	-webkit-border-radius: 6px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;
	padding: 14px 22px;
	width: 300px;
	position: relative;
	display: none;
}

.loginbutton {
	float: right;
	width: 70px; height: 31px;
	margin-right: 15px;
	line-height: 1000px;
	overflow: hidden;
	display: block;
}
