.popup {
  padding: 5px;
  margin: 0px;
  border: double 3px lightgray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
  cursor: move;
  position: absolute;
}
