.CodeMirror {
	overflow: auto;
	background-color: #dddddd;
	color: #111111;
	line-height: 1em;
	font-size:12pt;
	font-family: monospace;
	border: 1px solid #333;
	/*
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	*/
}

.CodeMirror-gutter {
	position: absolute; left: 0; top: 0;
	background-color: #333333;
	border-right: 1px solid #eee;
	min-width: 2em;
	height: 100%;
}

.CodeMirror-gutter-text {
	color: #aaa;
	text-align: right;
	padding: .4em .2em .4em .4em;
}

.CodeMirror-lines {
	padding: .4em;
}

.CodeMirror pre {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-width: 0; margin: 0; padding: 0; background: transparent;
	font-family: inherit;
}

.CodeMirror textarea {
	font-family: monospace !important;
}

.CodeMirror-cursor {
	z-index: 10;
	position: absolute;
	visibility: hidden;
	border-left: 1px solid black !important;
}

.CodeMirror-focused .CodeMirror-cursor {
	visibility: visible;
}

span.CodeMirror-selected {
	background: #ccc !important;
	color: HighlightText !important;
}

.CodeMirror-focused span.CodeMirror-selected {
	background: Highlight !important;
}

.CodeMirror-matchingbracket {
	color: #0f0 !important;
}

.CodeMirror-nonmatchingbracket {
	color: #f22 !important;
}
