/* aspen style */

div#result {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 150px;
	width: 75%;
	overflow: auto;
	font-family: 'courier new';
	border: 1px solid #000000;
	display: none;
}

.stdout {
	color: black;
}

.stderr {
	color: red;
}

.message {
	color: gray;
}

#loginform {
	-moz-border-radius: 6px;
	background: #eef2f7;
	-webkit-border-radius: 6px;
	border: 1px solid #536376;
	-webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
	-moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;
	padding: 14px 22px;
	width: 300px;
	position: relative;
	display: none;
}

#username.sprited {
	color: gray;
}

.loginbutton {
	width: 70px;
	height: 31px;
	margin-right: 15px;
}

.normalbutton, .fixedbutton {
	width: 50px;
	line-height: 20px;
	height: 30px;
	text-align: center;
	color:#fff;
	background-color: #22AAbb;
	border: 1px solid #AADDFF;
	-moz-border-radius: 5px;  /* Firefox */
	-webkit-border-radius: 5px;  /* Safari */
	border-radius: 5px; /* CSS3 */
	padding: 2px;
}

.headbutton {
	width: 30px;
	line-height: 8px;
	height: 20px;
	text-align: center;
	color:#111;
	background-color: #cccccc;
	border: 1px solid #aaaaaa;
	-moz-border-radius: 5px;  /* Firefox */
	-webkit-border-radius: 5px;  /* Safari */
	border-radius: 5px; /* CSS3 */
	padding: 2px;
}

.fixedbutton {
	width: 50px;
}

.logoutbutton:hover, .newbutton:hover {
	opacity: 0.9;
	-webkit-box-shadow: 0px 0px 5px #999;  /* safari */
	-moz-box-shadow: 0px 0px 5px #999;   /* firefox */
	box-shadow: 0px 0px 5px #999;  /* CSS3 */
}

.inlineform {
	display: inline;
}

textarea {
	width: 100%;
	height: 100%;
}

.logo {
	border: 0;
	width: 213px;
	height: 54px;
}

td.logo {
	width: 230px;
}

.mail {
	font-size: small;
}
